*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Alegreya Sans', Verdana, sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: #5F0707;
}

header h1 {
  float: left;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

header ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 2em;
}

header ul li {
  display: inline-block;
  margin-right: 20px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  text-decoration: none;
  color: #fff;
}

header ul li a:hover {
  opacity: 0.8;
}

header ul li a:visited {
  text-decoration: none;
  color: #fff;
}

.camera {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.info {
  width: 100%;
  padding: 10px;
}

.error {
  background-color: #FF8585;
  border: 1px solid #8F0000;
  color: #8F0000;
  border-radius: 3px;
}

canvas {
  width: 400px;
  height: 300px;
  display: block;
  margin: 20px auto 0 auto;
  max-width: 100%;
  background-color: #222;
}

video { display: none; }
input { width: 360px; }

video {
  border: 1px solid lime;
}

.supported canvas {
  -webkit-transform: rotateY(180deg) rotate3d(1, 0, 0, 0deg); 
  -ms-transform: rotateY(180deg) rotate3d(1, 0, 0, 0deg); 
  transform: rotateY(180deg) rotate3d(1, 0, 0, 0deg); 
}

.controls {
  width: 400px;
  margin: 20px auto 0 auto;
}

.clear-button {
  margin-top: 10px;
  display: inline-block;
  margin-left: 10px;
  color: #5F0707;
  text-decoration: none;
}

.clear-button:hover {
  opacity: 0.7;
}

.clear-button:visited {
  color: #5F0707;
}

.filmstrip {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #ddd;
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.thumbnail-container {
  display: inline-block;
  position: relative;
  height: 150px;
  margin: 25px 10px;
  padding: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.thumbnail-container img {
  height: 100%;
}

.button-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
}

.button-container a{
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  display: block;
  font-size: 1em;
  margin-top: 10px;
}

.button-container a:hover {
  color: #ccc;
}

.button-container a:visited {
  color: #fff;
}

.thumbnail-container:hover .button-container {
  display: block;
}

.controls {
  text-align: center;
  width: 100%;
}

.controls * {
  margin-right: 5px;
}

.controls a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Alegreya Sans';   
  width: 150px;
  padding: 10px 0;
  font-size: 1.3em;
  color: #fff;
  text-shadow: 1px 1px 0 #1148A7;
  border: 0;
  border-radius: 5px;
  background-color: #4583ED;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 4px 0 #1148A7;
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 4px 0 #1148A7;
}

.controls a:visited {
  color: #fff;
}

.controls a:hover {
  background-color: #5694fe;
}

.controls a:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 2px 0 #1148A7;
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 2px 0 #1148A7;
}

.view {
  display: none;
}

.edit-controls {
  display: none;
}

h1 {
  margin: 20px 0 0 0;
}

.authors h2 {
  margin: 0;
  color: #999;
}

img {
  max-width: 100%;
}